.coin-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.coin-rank {
    font-size: 0.75rem;
    font-weight: 600;
    color: #a8acb3;
    padding: 4px 8px;
    border-radius: 999px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255, 255, 255, 0.192);
}

.coin-header h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: azure;
}

.coin-header span {
    color: #9ea4ac;
    font-size: .85rem;
}

.coin-price {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.coin-price strong {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.price-change {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: azure;
}

.price-change.price-up {
    color: var(--color-success);
}

.price-change.price-down {
    color: var(--color-danger);
}

.price-change.price-neutral {
    color: #9ea4ac;
}
